*.pickle
weights/
*.png
clustering/
IntensityOxford/
USyd/
USyd_downsample/
vmd/
vmd_downsample/
blt/
arvc/
nuscenes/
nclt/
wandb/
vmd_interpolated/
benchmark_datasets/
KittiDataset/
flops_modelo.py
grafica_inferencia.py
vscode/
*.txt

