cmake==3.27.4.1
Cython==0.29.28
dash==2.18.2
Jinja2==3.1.5
matplotlib==3.5.1
matplotlib-inline==0.1.7
MinkowskiEngine @ git+https://github.com/NVIDIA/MinkowskiEngine@405b39cb7e68c2ec1b4ac8c4b4ca9fa6fcfcb2fc
ninja==1.10.2.3
numpy==1.21.0
pandas==1.5.3
pyproj==3.5.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.10.1
thop==0.1.1.post2209072238
tomlkit==0.10.2
torch==1.13.1+cu116
torch-scatter==2.1.2+pt20cu117
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.62.3
utm==0.8.0
virtualenv==20.0.17
